{% extends "base.html" %}
{% block title %}Файлы на Яндекс.Диске{% endblock %}
{% block content %}
    <div class="uk-container uk-margin-top">

        <nav class="uk-margin-bottom">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="{{ url_for('files.browse_folder', path='/') }}">Главная</a>
                </li>
                {% for crumb in context.breadcrumbs %}
                    <li class="{{ 'uk-active' if loop.last else '' }}">
                        {% if not loop.last %}
                            <a href="{{ url_for('files.browse_folder', path=crumb.path) }}">{{ crumb.name }}</a>
                        {% else %}
                            <span>{{ crumb.name }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <ul class="uk-list uk-list-divider">
            {% for file in context.files %}
                <li>
                    {{ file.name }} - {{ (file.size / (1024 * 1024)) | round(2) if file.size else 'Папка' }}
                    {% if not file.size %}
                        <a href="{{ url_for('files.browse_folder', path=file['path']) }}"
                           class="uk-button uk-button-text">Открыть</a>
                    {% elif file.file %}
                        <a href="{{ file.file }}" target="_blank" class="uk-button uk-button-text">Скачать</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <ul class="uk-thumbnav" uk-margin>
            {% for file in context.files %}
                {% if  file.size and file.preview %}
            <li>
                <img src="{{ file.preview }}" width="100" height="67" alt="{{ file.name }}">
            </li>
                 {% endif %}
            {% endfor %}
        </ul>

    </div>
{% endblock %}

